<!--
Name: Kasra Rahimian
Email : krahimian@myseneca.ca
studentId: 118335207
Assignemnt3
Date: Oct 19th 2022
 Cylic URL https://lively-gear-bear.cyclic.app
 Github : kasrarh/WEB322
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment 2</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-lg bg-lg">
      <div class="container-fluid offset-md-8">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/Blog">Blog</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registration">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <nav class="navbar bg-white justify-content-right">
      <div class="container-fluid d-flex flex-row-reverse">
        <div class="col-8 col-lg-5">
          <form class="d-flex">
         
            <button
              class="btn btn-primary"
              type="submit"
              style="margin-right: 10px">Search</button>
            <input
            class="form-control"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          </form>
        </div>
        <div class="col- col-lg-3 m-5">
          <a class="navbar-brand" href="/Blog">
            <img src="pictures/logo.svg" width="40%" class="img-fluid" alt="logo-img" />
          </a>
        </div>
      </div>
    </nav>
  </header>
  <body>
    <div class="grid text-center bg-light">
      <div class="row">
        <div class="col-12 container-fluid">
          <img src="pictures/hero.jpg" class="img-fluid" alt="hero-img" />
          <h5 class="m-2">Better and faster backups with JetBackup 5</h5>
          <p class="m-3">We’re pleased to announce that JetBackup 5 is now available at WHC! In this article, we’ll look over the improvements in this new release,...</p>
          <button class="btn btn-primary">Read more</button>
          
        </div>
      </div>
    </div>
    <div style="margin-top: 2%" class="container bg-light" >
      <div class="row">
        <div class="col-12 col-lg-6 bg-white shadow" style="border: 2px; border-radius: 2%;">
          <img src="../pictures/blog1.jpg" class="img-thumbnail" alt="img/blog.jpg" />
          <div
            class="col">
            <p class="m-3">
              AlmaLinux 8 is now available with our Cloud and Dedicated servers. Are you a Cloud or Dedicated server administrator? Read on to learn about how this...
            </p>
            <button  class="btn btn-primary m-3">Read more</button>

          </div>
        </div>
        <div class="col-12 col-lg-6 bg-white shadow" style="border: 2px; border-radius: 2%;">
          <img src="../pictures/blog2.jpg" class="img-thumbnail" alt="img/blog.jpg" />
          <div
            class="col">
            <p class="m-3">
              Working from home is no longer a luxury enjoyed by a small few but is now the gold standard. It can certainly allow a better work/life balance, yet can...
            </p>
            <button class="btn btn-primary m-3">Read more</button>

          </div>
        </div>
        <div class="col-12 col-lg-6 bg-white shadow" style="border: 2px; border-radius: 2%;">
          <img src="../pictures/blog3.jpg" class="img-thumbnail" alt="img/blog.jpg" />
          <div
            class="col">
            <p class="m-s">
              We've all been there... Sitting in front of the screen, facing a daunting task. And then... maybe just a quick email check or a quick scroll on Facebook?...
            </p>
            <button class="btn btn-primary m-3">Read more</button>

          </div>
        </div>
        <div class="col-12 col-lg-6 bg-white shadow" style="border: 2px; border-radius: 2%;">
          <img src="../pictures/blog4.jpg" class="img-thumbnail" alt="img/blog.jpg" />
          <div
            class="col">
            <p class="m-3">
              TLDR; Starting a business requires a solid plan, a great business name, a website that emotionally connects with your target market and a promotional strategy...
            </p>
          <button class="btn btn-primary m-3">Read more</button>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  </body>
  <footer class="bg-light bg-gradient justify-content-between">
    <div class="row m-5">
      <div class="col-12 col-lg-6 mb-3">
        <h5>Pages</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="/Blog" class="nav-link p-0 text-muted">Blog</a>
          </li>
          <li class="nav-item mb-2">
            <a href="/registration" class="nav-link p-0 text-muted">Register</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="/login" class="nav-link p-0 text-muted">Login</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-6 mb-3">
        <h5>Socila media:</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="https://facebook.com"
              ><img
                height="30px"
                width="30px"
                src="pictures/facebook.png"
                class="img-fluid"
                alt="facebook"
            /></a>
          </li>
          <li class="nav-item mb-2">
            <a href="https://instagram.com"
              ><img
                height="30px"
                width="30px"
                src="pictures/instagram.png"
                class="img-fluid"
                alt="instagram"
            /></a>
          </li>
          <li class="nav-item mb-2">
            <a href="https://twitter.com"
              ><img
                height="30px"
                width="30px"
                src="pictures/twitter.png"
                class="img-fluid"
                alt="twitter"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"
  ></script>
</html>
